.App {
  text-align: center;
  align-items: center;
  background-color: mediumaquamarine;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.entrada {
  border: rgb(0, 50, 82) solid 2px;
  background-color: lightskyblue;
}

button{
  margin-left: 90px;
  width: 60px;
}

.table{
  margin-left: 100px;
  /* height: 80vh; */
  width: 80vw;
  flex-direction: row;

  align-items: center;
  display: flex;
  grid-template-columns: repeat();
  grid-column-gap: 16px;
  justify-content: center;
  text-align: left;
  border: lawngreen solid 5px;
  border-radius: 5px;
  max-width: 80%;
  background-color: rgba(32, 178, 171, 0.767) ;
  /* flex-wrap: initial;
  flex-direction: row; */
}

.presente {
  display: grid;
  justify-content: right;
  margin-top: -15px;
}

li {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style-type: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation:ease-in-out 2s 2s 2s ;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
